<div id="form" class="container">
  <h2>Registrarse</h2>
  <form action="/registro" method="POST">
 
    <label> Nombre de usuario
      <input type="text" name="username" placeholder="Nombre de usuario" />
    </label>

    <label> Email
      <input type="text" name="email" placeholder="Email" />
    </label>
 
    <label> Contraseña
      <input type="password" name="password" placeholder="********" />
    </label>

    <label> Descripción
      <input type="text" name="description" placeholder="Descripción" />
    </label>
    
 
    <button type="submit">Crear cuenta</button>
 
  </form>
</div>