<div class="container">
<h1>Editar el perfil de {{username}}</h1>

<form action="/perfil/editar/{{_id}}" method="POST" enctype="multipart/form-data">

    <label>
        Email
        <input type="text" name="email" value="{{email}}">
    </label>

    <br><br>

    <label>
        Descripción
        <input type="text" name="description" value="{{description}}">
    </label>

    <br><br>

    <label> Imagen
      <input type="file" name="imageFile"/>
    </label>

 <br><br>

    <input type="submit" value="Guardar edición">
</form>

<a href="/peliculas">Volver al perfil</a>
</div>