<div class="container">
<div class="row">
<div class="col-6">
<h1>Ups!</h1>
<h2>Travolta no sabe lo que buscas</h2>
</div>
<div class="col-6">
    <img src="/images/travolta.png"></img>
</div>
</div>
</div>