body {
  font: 14px "Titillium Web", Helvetica, Arial, sans-serif;
}

a {
  color: #f9c700;
}

h1 {
  color: 15px;
  padding-top: 60px;
}

h2 {
  padding: 20px 0;
}

.barra {
  padding: 20px;
  background: linear-gradient(0deg, rgba(101,184,237,1) 4%, rgba(68,124,160,1) 55%, rgba(76,86,92,1) 100%);
  position: fixed;
  width: 100%;
  z-index: 100;
}
.other {
  padding-top: 100px;
}

.logo {
  width: 200px;
}

.nav-link {
  font-size: 25px;
}

.navbar-nav {
  padding-left: 10px;
}

footer{
  background: linear-gradient(0deg, rgba(76,86,92,1) 4%, rgba(68,124,160,1) 20%,rgba(101,184,237,1)  100%);
  font-weight: bold;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px 30px;
  margin-top: 40px;
}

.botones-perfil a {
  margin: 20px 0;
}

.botones-perfil button {
  margin-bottom: 20px;
}

img {
  height: 100%;
}

.details {
  height: 400px;
  object-fit: cover;
  border-radius: 20%;
  margin-bottom: 20px;
}

.photo-profile {
  height: 160px;
  border-radius: 20%;
  margin: 20px 0;
}

.actor-image {
  height: 120px;
  object-fit: cover;
  border-radius: 0.50rem;
  margin: 25px 0 10px;
}

.actor{
  height: 250px;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 20%;
}

.name-actor {
  text-decoration: none;
  color: black;
  margin-bottom: 50px;
}


.inputIdReview{
  display: hidden;
}
.btn-warning {
  background-color: #f9c700;
  border-color: #00b7ff;
}

.img-fluid {
  height: 500px;
  object-fit: contain;
}

.inicio-sesion {
  padding: 100px;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.titulo-carta {
  color: black;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.card a {
  text-decoration: none;
}

.card {
  margin-bottom: 20px;
}
.films {
  margin-top: 0px;
  margin-bottom: 100px;
}

.foot {
  font-size: 12px;
}

.details-films {
  padding: 40px 0 80px;
}

.cartones {
  border-radius: 20%;
}
.card {
  border: 0px;
  margin: 0;
}

.title-card {
  margin-bottom: 20px;
  font-weight: 600;

}

.boton-fav {
  margin-bottom: 20px;
}

.review-title {
  padding-top: 30px;
}

.bio-actor {
  margin-top: 60px;
  margin-left: 20px;
}

.filmography {
  margin-bottom: 80px;
}
.barra-foto-actor {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.boton-registrar {
  background-color: #f9c700;
}

.boton-iniciar {
  background-color: #447cad;
}

.des-per {
  margin-top: 70px;
}

.nav-link {
  font-weight: 600;
}

.img-register {
  height: 600px;
  
}

.boton-quitar {
  margin: 20px 0;
}

.title-film-actor {
  color: black;
  text-align: center;
}

.link-inicio {
  color: black;
}

.photo-profile-nav {
  height: 50px;
  border-radius: 20%;

}

.heart {
  font-size: 20px;
}