body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
  padding-top: 20px;
}
h2 {
  padding: 20px 0;
}

.navbar {
  padding: 20px;
}

img {
  width: 80px;
}

.nav-link {
  font-size: 25px;
}

.navbar-nav {
  padding-left: 10px;
}