body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
  padding-top: 60px;
}

h2 {
  padding: 20px 0;
}

.barra {
  padding: 20px;
  background: linear-gradient(0deg, rgba(230,160,195,1) 31%, rgba(126,57,57,1) 100%);
  position: fixed;
  width: 100%;
  z-index: 100;
}
.other {
  padding-top: 100px;
}

.logo {
  width: 80px;
}

.nav-link {
  font-size: 25px;
}

.navbar-nav {
  padding-left: 10px;
}

footer{
  background: linear-gradient(0deg, rgba(126,57,57,1) 4%, rgba(230,160,195,1) 100%);
  color: black;
  font-weight: bold;
  position: block;
  bottom: 0;
  width: 100%;
  padding: 15px 30px;
}

.botones-perfil a {
  margin: 20px 0;
}

.botones-perfil button {
  margin-bottom: 20px;
}

img {
  height: 100%;
}

.details {
  height: 600px;
  object-fit: cover;
}

.photo-profile {
  height: 80px;
}

.actor-image {
  height: 120px;
  object-fit: cover;
}

.actor{
  height: 250px;
  object-fit: cover;
  padding-top: 20px;
}


.inputIdReview{
  display: hidden;
}
.btn-warning {
  background-color: #d8a499;
  border-color: #00b7ff;
}

.img-fluid {
  height: 600px;
  margin-left: 90px;
}
