<div class="container">
<form action="/peliculas/{{movieId.id}}/create-review" method="POST">

<br><br>
    <div class="form-group">
        <label for="Stars">Puntúa la película:</label>
        <select class="form-select" aria-label="Default select example">
<option Nada>Puntúa</option>    
  <option value="1">⭐</option>
  <option value="2">⭐⭐</option>
  <option value="3">⭐⭐⭐</option>
  <option value="4">⭐⭐⭐⭐</option>
  <option value="5">⭐⭐⭐⭐⭐</option>

</select>
     
    </div>
    <br>
    <div class="form-group">
        <label for="reviewArea">Escribe tu review:</label>
        <textarea class="form-control" id="reviewArea" rows="3" name="text"></textarea>
    </div>
<br>
    <input type="hidden" value="{{movieId.id}}" name="movieId">
    <br>
    <input type="hidden" value="{{currentUser._id}}" name="userId">
    <button type="submit" class="btn btn-primary">Enviar review</button>
</form>
</div>