<div class="container films">

    <h1>Películas</h1>
    <br>
    <div class="row">
        {{#each this}}

        {{#if poster_path}}

        <div class="col-md-3">
            <div class="card">
                <a href="/peliculas/{{id}}">
                    <img class="card-img-top cartones" src="https://www.themoviedb.org/t/p/original{{poster_path}}" alt="" />
                    <div class="card-body">
                        <h5 class="card-title titulo-carta">{{title}}</h5>
                </a>

            </div>
        </div>
    </div>

    {{/if}}
    {{/each}}
</div>

